body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: Arial, Helvetica, sans-serif;

    /* Pink gradient background */
    background: linear-gradient(135deg,#ffd1dc,#f8a5c2);
}

/* Card Design */
.card{
    background:white;
    padding:50px;
    border-radius:20px;
    text-align:center;
    width:420px;
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

/* Emoji */
.emoji{
    font-size:70px;
    margin-bottom:20px;
}

/* Heading */
h1{
    font-size:26px;
    margin-bottom:30px;
}

/* Button Container */
.buttons{
    margin-bottom:20px;
}

/* Yes Button */
.yes{
    background:#ff4d79;
    border:none;
    color:white;
    padding:12px 28px;
    border-radius:20px;
    font-size:16px;
    margin-right:20px;
    cursor:pointer;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
    
}

/* No Button */
.no{
    background:#e6e6e6;
    border:none;
    padding:12px 28px;
    border-radius:20px;
    font-size:16px;
    cursor:pointer;
    position:relative;
}

/* Bottom text */
p{
    font-size:14px;
    color:#555;
}